# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# auto generated code
public/
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map

# misc
.idea/
