.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $size-med;
  margin: $size-med 0 0 0;
}

.add-option-form {
  display: flex;
  flex-direction: column;
  padding: $size-med;
}

.add-option-form__input {
  background: $dark-blue;
  flex-grow: 1;
  color: $off-white;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  margin: 0 0 $size-s 0;
  padding: $size-s;
}

@media (min-width: $breakpoint) {
  .add-option-form {
    flex-direction: row;
  }
  .add-option-form__input {
    margin: 0 $size-s 0 0;
  }
}