.option {
  display: flex;
  justify-content: space-between;
  padding: $size-lar $size-med;
  border-bottom: 1px solid lighten($light-blue, 10%);
}

.option__text {
  color: $solid-white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}